<div class="header clearfix">
  <nav class="main-nav">
    <span>
      <a href="<%= root_path %>"><img src="/logo_text.png" alt="Flinder Text Logo" class="nav-logo" height="25px" /></a>
    </span>
    <div class="upper-nav">
      <ul class="nav-links">
        <li class="nav-link"><a href="#">About Us</a></li>
        <li class="nav-link"><a href="<%= signup_path %>">Sign Up</a></li>
        <li class="nav-link"><a href="<%= login_path %>">Log In</a></li>
      </ul>
    </div>
  </nav>
</div>