<p id="notice"><%= notice %></p>
<%= render 'static/nav' %>

<div class="logo">
  <div class="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit purus. Nunc tortor lorem, vulputate sed tempus eu, malesuada sit amet lectus. </p>
  </div>
  <a href="/dashboard">
    <img src="/favicon.png" alt="Flinder Logo">
  </a>
</div>

<div class="spinner"></div>

<div class="search-section">
	<div class="search-form">
		<form id="user-search" action="/user_choice" method="POST">
			<label>Enter Your Own Topic to Search For</label>
			<br>
			<input type="text" name="topic" placeholder="Topic of Interest"><br>
			<input type="text" name="location" placeholder="Geographic Location (optional)">
			<br>
			<input type="submit" value="Search">
		</form>
	</div>
</div>

<div id="times">
	<h1 class="nyt-header">New York Times Top Stories</h1>
	<ul id="nytimes-results"></ul>

	<div id="user-click"></div>
</div>

<div id="my-search" class="results">
	<div class="search-result">
		<h1 class="my-gs-h1">GuideStar Search Results</h1>
		<ul id="my-guidestar-results"></ul>
	</div>
	
	<div class="search-result">
		<h1 class="my-twitter-h1">Twitter Search Results</h1>
		<ul id="my-twitter-search-result"></ul>
	</div>

</div>

<div id="topic-search" class="results">
	<div class="click-result">
		<h1 class="topic-gs-h1">GuideStar Topic Results</h1>
		<ul id="topic-guidestar-results"></ul>
	</div>	
	<div class="click-result">
		<h1 class="topic-twitter-h1">Twitter Topic Results</h1>
		<ul id="topic-twitter-search-result">
		</ul>
	</div>
</div>

