/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bourbon";
@import "neat";
@import "neat-helpers";
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);

$flinderBG: #554F5C;
$flinderLogo: #C7D353;
$flinderFG: #6C6575;

body {
	font-family: 'Roboto';
  background-color: $flinderBG;
}

.main-nav {
  width: 100%;
  margin-top: -30px;
  position: absolute;

  .upper-nav {
    height: 30px;
    list-style: none;
    background-color: $flinderFG;

    .nav-link {
      display: inline;
      position: relative;

      li a {
        position: relative;
        right: 80%;
      }
    }
  }
}

.logo {
  position:relative;
  width: 75%;
  height: 100px;
  margin-left: 10%;
  border-bottom: 1px solid $flinderFG;

  img {
    position:relative;
    margin:50px;
    margin-left:48%;
    width:50px;
    bottom:25%;
  }
}

#my-search {
  @include outer-container(1000px);
  
  .search-result {
    @include span-columns(6);
    /*padding: 30px;*/
  }
}

#topic-search {
  @include outer-container(1000px);
  
  .click-result {
    @include span-columns(6);
  }
}

#times {
  @include outer-container(1000px);
}

.nyt-topic {
	@include span-columns(4);
}

.nyt-topic-btn {
	display:inline;
	margin:5px;
	padding:10px;
	background-color:#FFF;
	border-radius: 5px;
}

