@import "bourbon";
@import "neat";
@import "neat-helpers";
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);

$flinderBG: #554F5C;
$flinderFG: #6C6575;
$flinderLogo: #C7D353;

* {
  margin:0;
  padding:0;
  font-family:inherit;
  border: none;
  list-style: none;
}

input[type='text'] ,
input[type='submit'],
form {
  border:none;
  margin:0;
  padding:0;
}

body {
  font-family: 'Roboto';
  background-color: $flinderBG;
}

h1::selection {  
  background-color: $flinderLogo;
  color: #FFF;
}

h1::-moz-selection {  
  background-color: $flinderLogo;
  color: #FFF;
}

label::selection {  
  background-color: $flinderLogo;
  color: #FFF;
}

label::-moz-selection {  
  background-color: $flinderLogo;
  color: #FFF;
}

.about {
  width: 100%;
  height: 150px;
  right: 0.1px;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);

  p {
    width: 600px;
    margin: 0 auto;
    padding: 55px 0;
    font-size: 12px;
    line-height: 1.5em;
    font-style: italic;
    text-align: center;
    color: #FFF;
  }
}

.spinner {
  position: fixed;
  z-index: 1;

  img {
    width: 200px;
    position: relative;
    margin-left: 46%;
  }
}

.main-nav {
  width: 100%;
  height: 30px;
  background-color: $flinderFG;

  .upper-nav {
    list-style: none;
    float:right;

    .nav-links {
      float:left;
    }

    li + li {
      margin-left: 10px;
    }

    .nav-link {
      height:50%;
      display: inline;
      position: relative;
      right:20px;
      top:5px;

      a {
        font-size:14px;
        color: #FFF;
        text-decoration: none;

        &:hover{
          color: $flinderLogo;
          transition: .05s ease-in-out;
        }

        &:active{
          color: #FFF;
        }
      }
    }
  }
}

.nav-logo img {
  float:left;
}

.logo {
  @include outer-container(1000px);
  height: 150px;
  border-bottom: 1px solid $flinderFG;

  img {
    position:relative;
    margin:50px;
    margin-left:45%;
    width:50px;
  }
}

.search-section{
  @include outer-container(1000px);

  .search-form {
    @include span-columns(12);
    margin-top: 50px;
    padding-bottom: 10px;

    #user-search label {
      margin-bottom:15px;
      font-weight: 700;
      font-size: 2em;
      color: #FFF;
    }

    input[type='text'] {
      width:100%;
      height:40px;
      margin-bottom: 2px;
      padding: 10px;
      color: $flinderFG;
      font-weight: 700;
      font-size: 18px;

      &::-webkit-input-placeholder {
        color: $flinderFG;
        opacity: 0.5;
        font-weight: 700;
        font-size: 18px;
      }
    }

    input:focus {
      outline: none;
      background-color: rgba(233, 218, 252, 0.5);
      color: #FFF;
    }

    input[type='submit'] {
      padding: 15px;
      margin-top: 2px;
      font-weight: 700;
      font-size: 18px;
      background-color: rgba(233, 218, 252, 0.3);
      color: $flinderBG;

      &:hover {
        background-color: $flinderFG;
        color: rgba(233, 218, 252, 0.3);
      }

      &:active {
        background-color: $flinderLogo;
      }
    }
  }
}

#my-search {
  @include outer-container(1000px);
  margin-top: 50px;
  
  .search-result {
    @include span-columns(6);
    padding: 5px;
  }
}

#topic-search {
  @include outer-container(1000px);
  margin-top: 50px;
  
  .click-result {
    @include span-columns(6);
    padding: 5px;
    white-space: normal;
  }
}

#times {
  @include outer-container(1000px);
  h1.nyt-header {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}

.nyt-topic {
	@include span-columns(3);
  @include omega(4n);
  margin-bottom: 1.5em;
}

.green-form {
  width: 225px;
  height: 115px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: $flinderBG;
  background-color: $flinderLogo;
  border-radius: 2px;

    p {
      vertical-align: middle;
      line-height: 115px;
    }
}

.nyt-topic-btn {
  width: 225px;
  height: 115px;
  white-space: pre-wrap;
  text-align: left;
  overflow: auto;
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(233, 218, 252, 0.3);
  color: $flinderBG;
  border-radius: 2px;

   &:hover {
      background-color: $flinderFG;
      color: rgba(233, 218, 252, 0.3);
      cursor: pointer;
    }

    &:active{
      outline: none;
      background-color: $flinderFG;
      color: rgba(233, 218, 252, 0.3);
    }

    &:focus{
      outline: none;
    }
}

h1 {
  color: #FFF;
}

#topic-guidestar-results {}

.gs-result {
  overflow: hidden;
  margin: 8px;
  padding: 5px;
  white-space: normal;
  border: 1px solid $flinderFG;
    
  a {
    color: $flinderFG;
    text-decoration: none;
  }
}

#topic-twitter-search-result {}

.tw-result {
  margin: 8px;
  padding: 5px;
  border: 1px solid $flinderFG;
  white-space: normal;
  background-color: $flinderFG;

  &:hover {
    background-color: $flinderLogo;
  }
    
  a {
    color: #FFF;
    text-decoration: none;
  }
}

.user-form {
  width: 800px;
  position: relative;
  margin: 0 auto;

  label {
    margin-bottom:15px;
    font-weight: 700;
    font-size: 2em;
    color: #FFF;
  }

  a {
    color: $flinderLogo;
    text-decoration: none;

    &:hover {
      color: #FFF;
    }

    &:active {
      text-decoration: underline;
    }
  }

  p {
    position: relative;
    margin-top: 5px;
    padding: 10px;
    left: 40px;
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
  }

  #new_session,
  #new_user,
  .button_to {
    padding: 50px 50px 0;

    input[type='text'],
    input[type='password'] {
      width:100%;
      height:40px;
      margin-bottom: 2px;
      padding: 10px;
      color: $flinderFG;
      font-weight: 700;
      font-size: 18px;

        &::-webkit-input-placeholder {
          color: $flinderFG;
          opacity: 0.5;
          font-weight: 700;
          font-size: 18px;
        }
      }

        input:focus {
          outline: none;
          background-color: rgba(233, 218, 252, 0.5);
          color: #FFF;
        }

        input[type='submit'] {
          padding: 15px;
          margin-top: 2px;
          font-weight: 700;
          font-size: 18px;
          background-color: rgba(233, 218, 252, 0.3);
          color: $flinderBG;

          &:hover {
            background-color: $flinderFG;
            color: rgba(233, 218, 252, 0.3);
          }

          &:active {
            background-color: $flinderLogo;
          }
      }
    }
}


